body {
  font-family: 'Rubik', sans-serif;
  background-color: rgb(42, 45, 58);

  /* overflow-y: hidden; */
}
/* body,
html {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: auto;
} */
button {
  cursor: pointer;
  padding: 0px;
}
p {
  margin: 0;
}
::-webkit-scrollbar {
  width: 4px; /* Remove scrollbar space */
  /* background: transparent; Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #000000;
}
